<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="tudo">
        <div id="cabecalho">
            <h1>SysFarma</h1>
           <div id="cxLogin">
               @Html.ActionLink("Login","Login","Autenticacao")
               @Html.ActionLink("LogOut","LogOut","Autenticacao")
           </div> 
       </div>
        
        <div id="conteudo">   
             @RenderBody()
        </div>

        <div id="rodape" >
            <h2>Rodapé aqui</h2>
        </div>
    
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
