@model Rep.Cliente
@{
    ViewBag.Title = "DeletarCliente";
}

<h2>Deletar Cliente</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataNascimento)
    </div>
    
</fieldset>
@using(Html.BeginForm()){  
    <p>
        <input type="submit" value="Deletar" />
        @Html.ActionLink("Home", "Index", "home")

    </p>
    }

