@model IEnumerable<Rep.Cliente>

<h2>Listar Cliente</h2>

<table border="1">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </th>

    </tr>

    @foreach (var item in Model)
    { 
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
            <td>
                @Html.ActionLink("Editar Cliente", "EditarCliente", new { id = item.id_Cliente })
                @Html.ActionLink("Deletar Cliente", "DeletarCliente", new { id = item.id_Cliente })
            </td>
        </tr>
        <tr>
            <td colspan="4">
                @foreach (var endereco in item.Cliente_Endereco)
                {
                <div id="idEndereco">    
                    <table border="1">                                                   
                    
                        <tr>
                            <th>Endereço :</th>
                            <td>
                                @endereco.rua   
                            </td>
                            <td>
                                @endereco.numero
                            </td>

                            <td>
                                @endereco.complemento
                            </td>
                                                        
                            <td>
                                @endereco.cep
                            </td>

                            <td>
                                 @endereco.bairro
                            </td>

                            <td>
                                 @endereco.cidade
                            </td>

                            <td>
                                  @endereco.estado
                            </td>
                            <td>
                                 @Html.ActionLink("Editar", "AlterarEndereco", "Endereco", new { id = endereco.id }, new { })
                                 @Html.ActionLink("Excluir", "DeletarEndereco", "Endereco", new { id = endereco.id }, new { })
                            </td>     
                        </tr>
                        
                        
                    </table>
                </div>
                 
                }
               
            </td>
           
        </tr>
        
    }
</table>

@Html.ActionLink("Home", "Index", "Home")
