@model SysFarma_Asp.Models.Cliente

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @TempData["loginObrigatorio"]
    
    <fieldset>
        <legend>Login</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.login)
            @Html.ValidationMessageFor(model => model.login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.senha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.senha)
            @Html.ValidationMessageFor(model => model.senha)
        </div>

        <p>
            <input type="submit" value="Criar" />
            @Html.ActionLink("Cadastrar","CadastrarCliente","Home")
            @Html.ActionLink("Pagina Inicial", "Index","Home")

        </p>
    </fieldset>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
